custom_components
*.log
*.log.*
.vscode
.google.token
.cloud/
secrets.yaml
tts
home-assistant_v2.db
secret_files/
*.db-shm
*.db-wal
*.db-journal
zigbee.db
*.db

.storage/bluetooth.passive_update_processor
