- id: '1609962176382'
  alias: Cast automatically
  description: ''
  trigger:
  - platform: state
    entity_id: media_player.living_room_tv
    from: 'off'
  condition: []
  action:
  - service: script.cast_to_living_room_tv
    data: {}
  mode: single
- id: '1609973083306'
  alias: Zone Notification
  description: Notify if Gaby leaves home
  use_blueprint:
    path: homeassistant/notify_leaving_zone.yaml
    input:
      person_entity: person.gaby
      zone_entity: zone.home
      notify_device: 10e24cdea3aaf31ef94c59725b643354
- id: '1610050834159'
  alias: Turn on Charles blanket
  description: Turn on Charles' blanket if it's less than 5C outside and Charles is
    home
  trigger:
  - platform: time
    at: '22:00:00'
  condition:
  - condition: zone
    entity_id: person.charles
    zone: zone.home
  - condition: numeric_state
    entity_id: weather.home
    attribute: temperature
    below: '15'
  action:
  - type: turn_on
    device_id: 114e22d1af178828cb508da883b67dd4
    entity_id: switch.charles_blanket
    domain: switch
  - service: notify.notify
    data:
      message: Turning on Charles blanket
  mode: single
- id: '1610050834000'
  alias: Keep Charles Blanket on
  description: Keep Charles' blanket on if the living room lights are on and Charles
    is home
  trigger:
  - platform: time_pattern
    minutes: '0'
  condition:
  - condition: zone
    entity_id: person.charles
    zone: zone.home
  - condition: device
    type: is_on
    device_id: b71f880d440cbffae42fb3b433b12d67
    entity_id: light.sitting_room
    domain: light
  - condition: device
    type: is_on
    device_id: 114e22d1af178828cb508da883b67dd4
    entity_id: switch.charles_blanket
    domain: switch
  action:
  - type: turn_off
    device_id: 114e22d1af178828cb508da883b67dd4
    entity_id: switch.charles_blanket
    domain: switch
  - delay: '1'
  - type: turn_on
    device_id: 114e22d1af178828cb508da883b67dd4
    entity_id: switch.charles_blanket
    domain: switch
  mode: single
- id: '78687612387216'
  alias: Turn on Gaby blanket
  description: Turn on Gaby's blanket if it's less than 5C outside and Gaby is home
    and the living room lights are on
  trigger:
  - platform: time
    at: '22:50:00'
  condition:
  - condition: zone
    entity_id: person.gaby
    zone: zone.home
  - condition: device
    type: is_on
    device_id: b71f880d440cbffae42fb3b433b12d67
    entity_id: light.sitting_room
    domain: light
  action:
  - type: turn_off
    device_id: 7539a411a797e3075906413520bf08a5
    entity_id: switch.056530622cf432f3ad51
    domain: switch
  - service: notify.notify
    data:
      message: Turning on Gaby's blanket
  - delay: '1'
  - type: turn_on
    device_id: 7539a411a797e3075906413520bf08a5
    entity_id: switch.056530622cf432f3ad51
    domain: switch
  mode: single
- id: gitlab_backup
  alias: Back up config to gitlab
  description: Commits and pushes the /config directory to gitlab every 15 minutes,
    if changes have occured
  trigger:
  - platform: time_pattern
    minutes: /15
  condition: []
  action:
  - service: shell_command.backup_config
    data: {}
  mode: single
- id: '1610737920275'
  alias: Turn on living room lights when we come home
  description: ''
  trigger:
  - platform: state
    entity_id: group.any_home
    to: home
  condition:
  - condition: sun
    after: sunset
  action:
  - domain: light
    entity_id: light.sitting_room
    device_id: b71f880d440cbffae42fb3b433b12d67
    type: turn_on
    brightness_pct: 100
  - domain: light
    entity_id: light.sitting_room_lamp
    device_id: d8067c7712895dfc0b70252968cd31c0
    type: turn_on
    brightness_pct: 100
  mode: single
- id: '1610743960228'
  alias: 'Turn off the lights when we leave home '
  description: ''
  trigger:
  - platform: state
    entity_id: group.any_home
    from: home
  condition: []
  action:
  - scene: scene.all_lights_off
  mode: single
- id: '1610797719356'
  alias: Gaby awake!
  description: ''
  trigger:
  - platform: state
    entity_id: device_tracker.gabyphone
    to: home
  condition:
  - condition: time
    before: '16:00:00'
    weekday:
    - sat
    - sun
  action:
  - service: notify.mobile_app_charles_honor
    data:
      message: Gaby is awake!
  mode: single
- id: '1610905746123'
  alias: Turn off bedroom light by living room switch
  description: ''
  trigger:
  - device_id: 7ce5bd5292e6ad30ed19c6a1e37fb7ca
    domain: hue
    platform: device
    type: remote_button_long_release
    subtype: dim_down
  condition: []
  action:
  - scene: scene.bedroom_lights_off
  mode: single
- id: '1611169147035'
  alias: Turn off office lights
  description: Turn off office if Charles work laptop disconnects
  trigger:
  - platform: state
    entity_id: device_tracker.work_laptop
    from: home
    for: 00:00:10
  condition: []
  action:
  - type: turn_off
    device_id: 38d17eafa75f488b469e20456380401e
    entity_id: light.office
    domain: light
  - type: turn_off
    device_id: 31ad1ae771c656caacded7bcba3b6433
    entity_id: light.office_lamp
    domain: light
  mode: single
- id: '1611306669717'
  alias: Turn on office lights
  description: ''
  trigger:
  - platform: state
    entity_id: device_tracker.work_laptop
    to: home
  condition: []
  action:
  - type: turn_on
    device_id: 38d17eafa75f488b469e20456380401e
    entity_id: light.office
    domain: light
  - type: turn_on
    device_id: 31ad1ae771c656caacded7bcba3b6433
    entity_id: light.office_lamp
    domain: light
  mode: single
