
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Helpers
input_boolean:
  hallway_motion_enabled:
    name: Hallway Motion Enabled
    icon: mdi:motion-sensor

# Numeric helper for TRV valve positions, from 0 to 100
input_number:
  living_room_trv_valve_position:
    name: Living room TRV Valve Position
    initial: 0
    min: 0
    max: 100
    step: 1

# Shell commands for git operations
shell_command:
  git_commit_push: >
    cd /config &&
    git add . &&
    git commit -m "Auto-commit"

# for nginx reverse proxy
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

template: !include template_sensors.yaml

influxdb:
  host: a0d7b954-influxdb
  port: 8086
  database: homeassistant
  username: homeassistant
  password: homeassistant
  max_retries: 3
  default_measurement: state

climate: !include climate.yaml