# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

pyscript:
  allow_all_imports: true
  hass_is_global: false

recorder:
  purge_keep_days: 120
  commit_interval: 60
  exclude:
    entities: !include excluded_sensors.yaml

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Backup config to gitlab
shell_command:
  backup_config: /config/backup.sh

# Use Lets Encrypt SSL certificates for HTTPS
http:
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem

# Set up OpenWRT for tracking
device_tracker:
  - platform: luci
    host: 192.168.1.1
    username: root
    password: !secret openwrt_password
    consider_home: 00:05:00
    interval_seconds: 20
    new_device_defaults:
      track_new_devices: false

binary_sensor: !include bayesian_sensors.yaml
sensor: !include away_mode_repeaters.yaml
template:
  - sensor:
      - name: Gaby sleep state
        state: >
          {% set state = states('binary_sensor.gaby_sleeping_bayesian') %}
          {% set since = relative_time(states.binary_sensor.gaby_sleeping_bayesian.last_changed) %}
          {# Without this, the sensor will not update: #}
          {% set bump = now() %}
          {% if 'on' == state %}
            Asleep {{since}}
          {% elif 'off' == state %}
            Awake {{since}}
          {% endif %}
  - sensor:
      - name: Time since last vacuum
        state: >
          {% set bump = now() %}
          {% if is_state('vacuum.noonoo', 'docked') %}
          {{ relative_time(as_datetime(states('sensor.noonoo_last_clean_end'))) }}
          {% else %}
          {{ states('vacuum.noonoo') }}
          {% endif %}
  - sensor:
      - name: Dishwasher state
        state: >
          {% set dishwasher_power = states('sensor.dishwasher_energy_power')|float %}
          {% if dishwasher_power > 10 %}
          running
          {% elif dishwasher_power > 1 %}
          standby
          {% else %}
          off
          {% endif %}
        icon: >
          {% set dishwasher_state = states('sensor.dishwasher_state') %}
          {% if dishwasher_state == "off" %}
          mdi:dishwasher-off
          {% elif dishwasher_state == "standby" %}
          mdi:dishwasher-alert
          {% elif dishwasher_state == "running" %}
          mdi:dishwasher
          {% else %}
          mdi:alert-circle
          {% endif %}

input_number:
  away_mode_lookback_duration:
    name: Lookback duration for away mode
    min: 10
    max: 2400000
    step: 1
    # 1 week in seconds:
    initial: 604800
input_boolean:
  away_mode_active:
    name: Lights in away mode

# Link an iframe to the tasmoda admin supervisor addon
panel_iframe:
  tasmoadmin:
    title: TasmoAdmin
    icon: mdi:lightbulb-on
    url: https://houseabsolute.duckdns.org:9541
