# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

pyscript:
  allow_all_imports: true
  hass_is_global: false

recorder:
  purge_keep_days: 120
  commit_interval: 60
  exclude:
    entities: !include excluded_sensors.yaml

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Backup config to gitlab
shell_command:
  backup_config: /config/backup.sh

# Use Lets Encrypt SSL certificates for HTTPS
http:
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem

# Set up OpenWRT for tracking
device_tracker:
  - platform: luci
    host: 192.168.1.1
    username: root
    password: !secret openwrt_password
    consider_home: 00:05:00
    interval_seconds: 20
    new_device_defaults:
      track_new_devices: false

binary_sensor: !include bayesian_sensors.yaml
sensor: !include away_mode_repeaters.yaml
template: !include template_sensors.yaml

input_number:
  away_mode_lookback_duration:
    name: Lookback duration for away mode
    min: 10
    max: 2400000
    step: 1
    # 1 week in seconds:
    initial: 604800
input_boolean:
  away_mode_active:
    name: Lights in away mode
