# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

frontend:
  themes: !include_dir_merge_named themes

pyscript:
  allow_all_imports: true
  hass_is_global: false

recorder:
  purge_keep_days: 120
  commit_interval: 60
  exclude:
    entities: !include excluded_sensors.yaml

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Backup config to gitlab
shell_command:
  backup_config: /config/backup.sh

# Use Lets Encrypt SSL certificates for HTTPS
http:
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem

# Set up OpenWRT for tracking
device_tracker:
  - platform: luci
    host: 192.168.1.1
    username: root
    password: !secret openwrt_password
    consider_home: 00:05:00
    interval_seconds: 20
    new_device_defaults:
      track_new_devices: false

# Circadian lighting (see https://github.com/basnijholt/adaptive-lighting)
adaptive_lighting:
  - name: Use flux
    lights:
      - light.bedroom_1
      - light.bedroom_2
      - light.bedroom_3
      - light.lamp
      - light.office_lamp
    # prefer_rgb_color: false
    transition: 45
    initial_transition: 1
    interval: 90
    min_brightness: 1
    max_brightness: 100
    min_color_temp: 2000
    max_color_temp: 5500
    sleep_brightness: 1
    sleep_color_temp: 1000
    sunrise_time: "07:30:00" # override the sunrise time
    # sunrise_offset:
    sunset_time: "23:00:00"
    # sunset_offset: 1800  # in seconds or '00:15:00'
    take_over_control: true
    detect_non_ha_changes: true
    # only_once: false

binary_sensor: !include bayesian_sensors.yaml
sensor: !include_dir_merge_list sensors
template: !include template_sensors.yaml

input_number:
  away_mode_lookback_duration:
    name: Lookback duration for away mode
    min: 10
    max: 2400000
    step: 1
    # 1 week in seconds:
    initial: 604800
input_boolean:
  away_mode_active:
    name: Lights in away mode
  hot_water_tomorrow:
    name: Request hot water tomorrow

google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret
  calendar_access: read_only

# Work tracking counters (see automations):
counter:
  gaby_trips_to_work_today:
    initial: 0
    step: 1
  charles_trips_to_work_today:
    initial: 0
    step: 1
  gaby_trips_via_wimbledon_today:
    initial: 0
    step: 1
  charles_trips_via_wimbledon_today:
    initial: 0
    step: 1
  gaby_number_saved_train_journeys:
    initial: 0
    step: 1
  charles_number_saved_train_journeys:
    initial: 0
    step: 1

google_assistant:
  project_id: house-absolute
  service_account: !include secret_files/google_service_account.json
  report_state: true
  expose_by_default: true
  exposed_domains:
    - switch
    - climate
    - vacuum
    - light
  entity_config:
    light.lamp:
      name: Bedroom lamp
      room: Bedroom
    switch.adaptive_lighting_use_flux:
      name: Flux
    input_boolean.hot_water_tomorrow:
      name: Hot water tomorrow
    water_heater.hot_water:
      name: Hot water
    script.cast_to_living_room_tv:
      name: Cast home assistant

    # light.kitchen:
    #   name: CUSTOM_NAME_FOR_GOOGLE_ASSISTANT
    #   aliases:
    #     - BRIGHT_LIGHTS
    #     - ENTRY_LIGHTS
    # light.living_room:
    #   expose: false
    #   room: LIVING_ROOM
