# Enable package-based configuration
homeassistant:
  packages: !include_dir_named packages

# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Lovelace dashboards in YAML mode
lovelace:
  mode: storage
  # Add yaml dashboards
  dashboards:
    lovelace-yaml:
      mode: yaml
      title: Chore tracking
      icon: mdi:broom
      show_in_sidebar: true
      filename: dashboards/chore-tracking.yaml
      

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Shell commands for git operations
shell_command:
  git_commit_push: /config/gitsync.sh

# for nginx reverse proxy
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

template: !include template_sensors.yaml

influxdb:
  host: a0d7b954-influxdb
  port: 8086
  database: homeassistant
  username: homeassistant
  password: homeassistant
  max_retries: 3
  default_measurement: state

climate: !include climate.yaml
