
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Helpers
input_boolean:
  hallway_motion_enabled:
    name: Hallway Motion Enabled
    icon: mdi:motion-sensor
  night_mode:
    name: Night Mode
    icon: mdi:weather-night
  chore_mode_charles:
    name: Chore Mode - Charles
    icon: mdi:broom
  chore_mode_gaby:
    name: Chore Mode - Gaby
    icon: mdi:broom

# Numeric helper for TRV valve positions, from 0 to 100
input_number:
  living_room_trv_valve_position:
    name: Living room TRV Valve Position
    initial: 0
    min: 0
    max: 100
    step: 1
  master_bedroom_trv_valve_position:
    name: Master bedroom TRV Valve Position
    initial: 0
    min: 0
    max: 100
    step: 1
  bedroom_trv_valve_position:
    name: Bedroom TRV Valve Position
    initial: 0
    min: 0
    max: 100
    step: 1
  chore_minutes_charles:
    name: Chore Minutes - Charles
    initial: 0
    min: 0
    max: 100000
    step: 1
    icon: mdi:timer-sand
  chore_minutes_gaby:
    name: Chore Minutes - Gaby
    initial: 0
    min: 0
    max: 100000
    step: 1
    icon: mdi:timer-sand

input_datetime:
  chore_last_activity_charles:
    name: Chore Last Activity - Charles
    has_date: true
    has_time: true
    icon: mdi:clock-outline
  chore_last_activity_gaby:
    name: Chore Last Activity - Gaby
    has_date: true
    has_time: true
    icon: mdi:clock-outline

# Shell commands for git operations
shell_command:
  git_commit_push: /config/gitsync.sh

# for nginx reverse proxy
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

template: !include template_sensors.yaml

influxdb:
  host: a0d7b954-influxdb
  port: 8086
  database: homeassistant
  username: homeassistant
  password: homeassistant
  max_retries: 3
  default_measurement: state

climate: !include climate.yaml
